<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="header-"><a href="/news">新闻</a></li>
            <li class="header-attention"><a href="/">关注</a></li>
            <li class="header-channel"><a href="/channel">频道</a></li>
            <li class="header-community"><a href="/">社区</a></li>
            <li class="header-shopping"><a href="/shopping">商城</a></li>
            <li class="header-subscibe"><a href="/">订阅</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">登录</a></li>
            <li><a href="/signup">注册</a></li>
        </ul>

    </div>
</div>